@import "../mixins";
@import "../typography";

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-title {
  @extend .h3;
}

.menu {
  margin: 0;
  width: 300px;
  height: 200px;
  background: gainsboro;
  display: initial;
  position: absolute;
  top: 100%;
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  li {
    list-style: none;
  }
}

.hamburger {
  height: 10px;
  width: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger div {
  height: 2px;
  width: 100%;
  background-color: black;
}

@include tablet {
  .nav {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: flex-start;
  }

  .nav-title {
    font-size: 26px;
  }

  .hamburger {
    display: none;
  }

  .menu {
    padding: 0;
    padding-left: 3rem;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    flex-direction: row;
    position: initial;

    li {
      padding: 0 2rem;
    }
  }
}
